body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
}

#search-container {
    margin-bottom: 30px;
    background-color: 94, 180, 255;
}

label {
    margin-right: 10px;
}

input {
    margin-right: 20px;
    padding: 5px;
}

#searchBtn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: 0, 110, 58;
}

#result-container {
    margin-top: 40px;
    background-color: 94, 180, 255;
}

#route, #emissions {
    font-size: 18px;
}
